nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color: pink;
}
nav ul li {
  display: inline-block;
  background-color: pink;
  padding: 8px 24px;
}
nav ul li:hover {
  background-color: lightblue;
}
nav ul li:active {
  background-color: lavender;
}
ul li a {
  color: white;
  text-decoration: none;
}
