nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color: magenta;
}
nav ul li {
  display: inline-block;
  background-color: magenta;
  padding: 8px 24px;
}
nav ul li:hover {
  background-color: orange;
}
nav ul li:active {
  background-color: red;
}
ul li a {
  color: skyblue;
  text-decoration: none;
}
